@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
.brand-story{
    background: url(http://file.hstatic.net/1000075078/file/instagram_bg.png) no-repeat right bottom;
    padding: 230px 0;
    max-height: 80%;
}
.brand-story{
  text-align: center;
  overflow-y: hidden;
}

.brand-story-title::after{
    content: '';
    height: 4px;
    margin: -5px auto;
    background: #191919;
    width: 8%;
    display: block;
}

.brand-story-content{
    font-family: 'Lato', sans-serif;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.block-brand-story-title{
  
}

