@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

.container{
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
}
.page-banner {
    position: relative;
    background: url(https://file.hstatic.net/1000075078/file/_fk_1807_master.jpg) no-repeat right bottom;
    background-size: cover;
    background-position: 50% 50%;
    height: 300px;
    margin-top: 60px;
}
.banner-title {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
}
.banner-title h1{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    margin: 0;
}
.header-page {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000;
}
.blog-item {
    margin-right: 0;
}
.border-blog{
    border-left: 1px solid #EA8025;
}
.sidebar .list-group h2 {
    float: none;
    color: #000;
    display: inline-block;
}
.image-items img{
    border: none;
    width: 100px;
    height: auto;
}

/* .menu-list-group h2{
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
    
} */
.section_heading{
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 42px;
    font-family: 'BebasNeue','Lato', "Times New Roman", serif;
}
.sidebar .list_group h2::after{
    background: #EA8025;
}
.line_after_heading::after{
    content: " ";
    background: #EA8025;
    height: 4px;
    width: 50%;
    display: block;
}


/* .blog-list {
} */
/* .blog-home {

} */