@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
.product-for-order{
    background: #f0f2f5;
}
.uk-position-bottom-right {
    bottom: 0;
    cursor: pointer;
    right: 0;
}

.uk-text-primary {
    color: #ea8025 !important;
}

.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}