@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100&display=swap');
.product-detail-image{
    width: 50%;
    padding-left: 100px;
    margin-top: 100px;
}

.product-detail-image img{
    width: 100%;
}
.product-detail-description{
    margin-left: 800px;
    margin-top: -500px;
    padding-right: -100px;
    width: 40%;
}
.info-product-title{
    font-family: 'Bebas Neue','Lato', "Times New Roman", serif;
    font-size: 30px;
    text-align: left;
    margin-left: -100px;
    margin-bottom: 60px;
    width: 50%;
    font-weight: 500;
    color: #000;
}

.info-product-title:after{
    content: '';
    height: 4px;
    background-color: #EA8025;
    width: 40%;
    display: block;
}

.product-detail-short-des{
    margin-bottom: 30px;
    text-align: justify;
    width: 70%;
    font-family: 'Lato', "Times New Roman", serif;
    margin-left: -100px;
    line-height: 24px;
    font-size: 18px;
}